<% provide(:title, "About") %>
<h1>About</h1>
<p>This is initial about page for fakebook application. This app is a social networking app and lets you 
   post content and chat with other users in real time and also lets you do tons of other stuff.</p>